body {
    background-color: #f1f2f7;
}

#weatherWidget .currentDesc {
    color: #ffffff !important;
}

.traffic-chart {
    min-height: 335px;
}

#flotPie1 {
    height: 150px;
}

#flotPie1 td {
    padding: 3px;
}

#flotPie1 table {
    top: 20px !important;
    right: -10px !important;
}

.chart-container {
    display: table;
    min-width: 270px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#flotLine5 {
    height: 105px;
}

#flotBarChart {
    height: 150px;
}

#cellPaiChart {
    height: 160px;
}

.open .sub-menu i {
    left: unset;
}

.navbar .navbar-nav li>a .menu-icon {
    color: #abb4be;
}


.right-panel .navbar-brand {
    width: unset;
}


.menutoggle {
    width: 20px;
}

.right-panel header.header {
    border-bottom: 1px solid #e8e9ed;
}

/* .navbar {
    margin-top: 15px;
} */