body {
    background: #dedede;
}

.mg-tb-20 {
    margin: 20px 0px;
}

.coupon .kanan {
    border-left: 1px dashed #ddd;
    width: 40% !important;
    position: relative;
}

.coupon .kanan .info::after,
.coupon .kanan .info::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dedede;
    border-radius: 100%;
}

.coupon .kanan .info::before {
    top: -10px;
    left: -10px;
}

.coupon .kanan .info::after {
    bottom: -10px;
    left: -10px;
}

.coupon .time {
    font-size: 1.6rem;
}

aside.left-panel:hover {
    overflow-x: unset;
}

a {
    color: #000;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

a.dropdown-toggle:hover {
    text-decoration: none;
}

.icon-reset {
    color: #000;
}

.icon-reset:hover {
    color: #000;
}

.coupon .kanan .info::after,
.coupon .kanan .info::before {
    background: #f0f8ff;
}

.dashboard {
    color: #878787;
}

.dashboard:hover {
    color: #000;
}

.icon-container {
    width: 85px;
}

.coupon .kanan {
    width: 30% !important;
}

.card-body.card-block {
    background-color: aliceblue;
}

.info.m-3.d-flex.align-items-center {
    text-align: center;
}


.modal.open {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .container-modal {
    padding-top: 48px;
    width: 1080px;
    max-width: calc(100% - 32px);
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation: modal-hide ease .5s;
}

.modal .close-icon {
    position: absolute;
    padding: 8px 16px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    right: 0;
    line-height: 36px;
    font-weight: 900;
}

.modal .close-icon:hover {
    color: rgba(0, 0, 0, 0.579);
}

.modal .header-modal {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    background-color: #009688;
    color: white;
    text-align: center;
    height: 70px;
    line-height: 65px;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 100;
}

.modal .header-modal .heading-modal {
    margin: 10px 0px;
    letter-spacing: 4px;
    font-weight: 200;
}

.modal .container-modal .content-modal {
    height: 318px;
    background-color: white;
    padding: 0px 16px;
}

.modal .content-modal .margin {

    display: inline-block;
}

.modal .container-modal .bill {
    margin-top: 20px;
}

.modal .content-modal input {
    width: 100%;
    border: 1px solid #ccc;
    line-height: 23px;
    font-size: 15px;
    margin: 8px 0px 20px;
}

.modal .container-modal .btn-update {
    width: 100%;
    display: block;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #009688;
    text-align: center;
    color: white;
    text-decoration: none;
}

.modal .container-modal .btn-close {
    width: 100%;
    display: block;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #009688;
    text-align: center;
    color: white;
    text-decoration: none;
}

.modal .container-modal .btn-update:hover {
    background-color: #bbb5b5;
    color: #000;
}

.modal .btn-pay a {}

.modal .btn-pay .icon-tick {
    font-weight: 700;
}

.modal .container-modal .footer-modal {
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 15px 0px 32px;
}


.modal .footer-modal .support {
    position: absolute;
    right: 0;
    display: inline;
}

.modal .footer-modal>a {
    text-decoration: none;

}

.modal .footer-modal .support a {
    color: #2196F3;
    margin-bottom: 15px;
}

/* Animation modal */

@keyframes modal-hide {

    from {
        transform: translateY(-150px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}

.footer-button{
    justify-content: center;
}

.btn-form-update{
    margin-right: 15px;
}
