.icon-container img {
    width: 90px;
    height: 90px;
}

.far.fa-file-alt.text {
    margin-bottom: 12px;
}

.px-md-5.px-4.mb-4.d-flex.align-items-center {
    justify-content: center;
}

.bg-primary {
    background: #82ae46 !important;
}

a {
    color: #82ae46;
}

a:hover {
    color: #82ae46;
}

.user-dropdown:hover {
    color: 000000;
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
    color: #000;
}

.card2.box12 {
    width: 350px;
    height: 500px;
    background-color: #82ae46 !important;
    color: #ebf2ec;
    border-radius: 0;
}


.container-fluid {
    width: 100%;
    padding: 0 50px;
    margin-right: auto;
    margin-left: auto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.d-block {
    display: block !important;
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.ftco-navbar-light {
    background: transparent !important;
    z-index: 3;
    padding: 0;
}

.navbar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    text-align: center;
}


.ftco-navbar-light .navbar-brand {
    color: #82ae46;
}

.navbar-brand {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a {
    text-decoration: none;
    background-color: transparent;
    transition: .3s all ease;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.container2 {
    margin: 20px auto;
    width: 800px;
    padding: 30px
}

.card2.box2 {
    width: 450px;
    height: 580px;
    background-color: #ffffff;
    border-radius: 0
}

.box2 .btn.btn-primary.bar {
    width: 20px;
    background-color: transparent;
    border: none;
    color: #82ae46
}

.box2 .btn.btn-primary.bar:hover {
    color: #baf0c3
}

.box12 .btn.btn-primary {
    background-color: #9ecd5e;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd
}

.box12 .btn.btn-primary:hover {
    background-color: #f6f8f7;
    color: #82ae46;
}

.btn.btn-success {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none
}

.nav.nav-tabs {
    border: none;
    border-bottom: 2px solid #ddd
}

.nav.nav-tabs .nav-item .nav-link {
    border: none;
    color: black;
    border-bottom: 2px solid transparent;
    font-size: 14px
}

.nav.nav-tabs .nav-item .nav-link:hover {
    border-bottom: 2px solid #82ae46;
    color: #82ae46
}

.nav.nav-tabs .nav-item .nav-link.active {
    border: none;
    border-bottom: 2px solid #82ae46
}

.form-control {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 0px;
    letter-spacing: 1.5px;
    border-radius: 0
}

.inputWithIcon {
    position: relative
}

img {
    width: 50px;
    height: 45px;
    object-fit: cover
}

.inputWithIcon span {
    position: absolute;
    right: 0px;
    bottom: 9px;
    color: #57c97d;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px
}

.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #ddd
}

.btn-outline-primary {
    color: black;
    background-color: #ddd;
    border: 1px solid #ddd
}

.btn-outline-primary:hover {
    background-color: #82ae46;
    border: 1px solid #ddd
}

.btn-check:active+.btn-outline-primary,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: #fff;
    background-color: #82ae46;
    box-shadow: none;
    border: 1px solid #ddd
}

.btn-group>.btn-group:not(:last-child)>.btn,
.btn-group>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:nth-child(n+3),
.btn-group>:not(.btn-check)+.btn {
    border-radius: 50px;
    margin-right: 20px
}

form {
    font-size: 14px
}

form .btn.btn-primary {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #82ae46;
    border: 1px solid #ddd
}

.btn.btn-primary:focus {
    background-color: #82ae46;
    border: 1px solid #ddd;
    color: #fff;
}

.btn.btn-primary:active {
    border: 1px solid #82ae46;
    background: transparent;
    color: #82ae46;
}


.btn.btn-primary:hover {
    border: 1px solid #82ae46;
    background: transparent;
    color: #82ae46;
}

.ion-ios-close {
    font-size: xx-large;
}

.bd-un {
    border-radius: unset;
}

.table tbody tr td {
    padding: 10px 10px;
}

a.btn.btn-primary {
    float: right;
}

a.btn.btn-primary.btn-update-card {
    margin-top: 20px;
}

.btn-apply-discount {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}